.sidebar {
  height: 100%;
  width: 40%;
  background-color: white;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  border-left: 1px solid orange;
  bottom: 0;
  z-index: 5000;
}

#sidebar-title {
  height: fit-content;
  position: fixed;
  align-self: center;
}

.close-button {
  margin-left: 10px;
  position: fixed;
  background-color: transparent;
  border: none;
  width: fit-content;
  font-size: 30px;
  height: fit-content;
}